@{
    Page.Title = "I code...";
}
<div class="row" id="food">
    <h2 class="col-md-offset-1">...for food</h2>
</div>
<div class="row">
    <div class="col-md-3 col-md-offset-1 code svg-logos">
        <!-- KeenSystems -->
        <a href="https://keensystems.eu">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" enable-background="new 0 0 100 100">
                <rect fill="#c6332d" width="100" height="100" />
                <path fill="#ffffff" d="M54.256,35.795c6.527,2.715,6.469,11.467,0.388,19.752c3.407-1.27,10.272-3.082,16.915-0.589c-9.637-8.296-8.828-16.242,1.38-27.356c5.242-5.919,5.558-12.667,0.45-15.486c-5.203-2.872-13.95-0.313-19.772,5.191c-2.468,2.332-4.163,4.973-4.982,7.512c-0.44,1.6-0.827,4.125,0.132,6.431C49.616,33.298,51.624,34.847,54.256,35.795z" />
                <path fill="#ffffff" d="M35.965,49.676c2.125-7.879,8.216-12.148,16.311-13.59c-2.135-1.054-3.618-2.549-4.414-4.468c-0.427-1.031-0.619-2.088-0.663-3.094c-3.753,8.631-9.579,12.562-17.778,12.519c-3.848-0.018-8.207,3.194-10.581,7.812c-2.713,5.267-2.203,11.122,1.478,13.224c1.87,1.065,4.199,0.979,6.486-0.033c0.61-0.286,1.576-0.826,2.674-1.771c0.008-0.009,0.649-0.596,0.656-0.604C32.079,57.8,34.711,54.523,35.965,49.676z" />
                <path fill="#ffffff" d="M82.361,69.222c-0.86-4.443-3.3-8.036-6.558-10.543c-7.999-6.418-18.108-3.151-21.569-1.721c-0.297,0.12-1.252,0.446-1.252,0.446c-9.12,2.648-14.315,0.309-16.589-6.308c-1.62,5.012-4.724,8.272-6.754,9.974c8.722-2.439,14.225,1.57,16.702,14.333c1.518,7.763,8.433,14.226,17.515,14.515C75.587,90.284,84.546,80.534,82.361,69.222z" />
            </svg>
            KeenSystems
        </a>
    </div>
    <div class="col-md-7">
        <p>My daytime job. I am a fulltime software engineer working on solutions for the telecom sector involving everything from VoiP solutions, (virtual) PBXes, billing, 3rd party integrations, web-based front-ends, cloud based solutions to SaaP, SaaS, SOA and lots more cool acronyms. You name it, I've done it. And then some. Primarily Windows / .Net based but not unfamiliar with other platforms and languages.</p>
    </div>
</div>
<div class="row" id="community">
    <h2 class="col-md-offset-1">...for, and with, the community</h2>
</div>
<div class="row">
    <div class="col-md-3 col-md-offset-1 code svg-logos">
        <!-- Tweakers -->
        <a href="https://tweakers.net/gallery/43400">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" enable-background="new 0 0 100 100">
                <rect fill="#b41e3b" width="100" height="100" />
                <path fill="#FFFFFF" d="M86.256,52.367c0-2.051-0.17-4.075-0.503-6.059l8.378-8.165l-11.528-1.675c-5.229-10.701-15.679-18.338-27.474-19.997L50,6.081l-5.128,10.391c-11.797,1.66-22.245,9.297-27.475,19.997L5.869,38.144l8.376,8.166c-1.956,11.684,1.973,23.799,10.48,32.049l-2.001,11.664l10.478-5.505c10.395,5.448,23.2,5.448,33.597,0l10.478,5.508l-2.001-11.667C82.265,71.55,86.256,62.129,86.256,52.367C86.256,50.316,86.256,62.053,86.256,52.367z M39.09,34.545H50h10.91v7.245h-7.078v13.493H50h-3.831V41.79H39.09V34.545z M73.666,68.983c-7.327,10.41-21.005,14.893-33.061,10.743c-11.542-3.973-19.533-15.151-19.533-27.359c0-9.371,4.686-18.318,12.355-23.696v26.612L50,64.924l16.574-9.639V28.672c6.223,4.365,10.577,11.136,11.908,18.624C79.822,54.829,78.071,62.729,73.666,68.983C71.914,71.475,76.872,64.431,73.666,68.983z" />
            </svg>
            Tweakers.net
        </a>
    </div>
    <div class="col-md-7">
        <p>I am a moderator at Tweakers.net, alongside my tasks as a mediator there. I tend to hang out in the <a href="https://gathering.tweakers.net/forum/list_category/4">Devschuur&reg;</a> where most of <a href="https://gathering.tweakers.net/forum/find/poster/43400/messages">my posts</a> have to do with software development in one form or another.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-md-offset-1 code svg-logos">
        <ul>
            <li>
                <!-- Stackoverflow -->
                <a href="https://stackoverflow.com/users/215042/robiii">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" enable-background="new 0 0 100 100">
                        <rect fill="#f47921" width="100" height="100" />
                        <rect x="28.662" y="72.133" fill="#ffffff" width="30.973" height="6.615" />
                        <rect x="71.351" y="11.097" transform="matrix(0.9853 -0.1709 0.1709 0.9853 -3.4452 13.1526)" fill="#ffffff" width="6.616" height="30.974" />
                        <rect x="29.171" y="62.207" transform="matrix(0.9958 0.0917 -0.0917 0.9958 6.1972 -3.8198)" fill="#ffffff" width="30.973" height="6.617" />
                        <rect x="31.116" y="50.876" transform="matrix(0.9657 0.2596 -0.2596 0.9657 15.6657 -10.2412)" fill="#ffffff" width="30.973" height="6.615" />
                        <rect x="35.815" y="39.117" transform="matrix(0.8613 0.508 -0.508 0.8613 28.6654 -20.1799)" fill="#ffffff" width="30.974" height="6.615" />
                        <rect x="45.918" y="28.57" transform="matrix(-0.5634 -0.8262 0.8262 -0.5634 69.6678 100.5692)" fill="#ffffff" width="30.974" height="6.615" />
                        <path fill="#ffffff" d="M64.898,84.023H24.271V56.979h-5.292v32.235h0.053c0,0.025,1.545,0.025,1.545,0.025h49.56v-0.025c0.053,0,0.053-1.545,0.053-1.545v-30.69h-5.291V84.023z" />
                    </svg>
                    Stackoverflow
                </a>
            </li>
            <li>
                <!-- Reddit -->
                <a href="https://reddit.com/user/RobIII/">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" enable-background="new 0 0 100 100">
                        <rect fill="#6099ce" width="100" height="100" />
                        <path fill="#ffffff" d="M64.659,52.336c0.181,0.463,0.263,0.939,0.263,1.414c0,0.953-0.33,1.881-0.883,2.637c-0.547,0.746-1.321,1.328-2.232,1.582h0.001c-0.007,0.004-0.015,0.004-0.02,0.006c-0.003,0-0.009,0.004-0.013,0.004c-0.426,0.146-0.863,0.215-1.299,0.215c-1.018,0-2.018-0.367-2.816-0.992c-0.793-0.623-1.393-1.518-1.581-2.58h-0.001c0-0.002,0-0.006-0.002-0.01c0-0.004,0-0.006-0.003-0.012h0.003c-0.059-0.273-0.09-0.547-0.09-0.816c0-0.92,0.313-1.803,0.83-2.531c0.515-0.725,1.24-1.301,2.09-1.596c0.003,0,0.006-0.002,0.006-0.002c0.005,0,0.005-0.004,0.008-0.004c0.481-0.178,0.988-0.268,1.49-0.268c0.914,0,1.815,0.277,2.574,0.785c0.751,0.498,1.36,1.23,1.666,2.139c0.002,0.006,0.002,0.012,0.006,0.016c0,0.008,0.003,0.01,0.006,0.014H64.659z M61.861,63.613c-0.359-0.232-0.773-0.373-1.213-0.373c-0.354,0-0.721,0.1-1.048,0.318l0,0c-3.093,1.846-6.731,2.857-10.342,2.857c-2.71,0-5.403-0.572-7.843-1.771l-0.012-0.006l-0.012-0.004c-0.368-0.15-0.787-0.473-1.244-0.775c-0.232-0.15-0.476-0.301-0.745-0.41c-0.266-0.113-0.561-0.193-0.876-0.193c-0.261,0-0.536,0.059-0.807,0.182c-0.014,0.006-0.027,0.012-0.041,0.018h0.001c-0.425,0.162-0.758,0.459-0.972,0.811c-0.223,0.363-0.333,0.785-0.333,1.207c0,0.379,0.089,0.76,0.275,1.104c0.176,0.328,0.448,0.613,0.804,0.805c3.488,2.354,7.594,3.418,11.717,3.414c3.717,0,7.456-0.861,10.786-2.428l0.019-0.01l0.016-0.01c0.439-0.258,1.023-0.492,1.572-0.832c0.272-0.174,0.539-0.373,0.766-0.635c0.229-0.258,0.412-0.578,0.516-0.957l0,0c0.043-0.168,0.064-0.33,0.064-0.492c0-0.311-0.076-0.604-0.203-0.867C62.518,64.17,62.215,63.846,61.861,63.613z M37.375,57.955c0.006,0,0.014,0.004,0.021,0.008c0.445,0.162,0.904,0.242,1.358,0.242c1.133,0,2.234-0.465,3.068-1.221c0.833-0.758,1.402-1.832,1.402-3.055c0-0.033,0-0.064-0.001-0.104c0.003-0.055,0.004-0.115,0.004-0.176c0-1.213-0.562-2.291-1.387-3.053c-0.828-0.764-1.926-1.229-3.064-1.229c-0.304,0-0.614,0.035-0.916,0.105c-0.005,0-0.008,0.002-0.012,0.002c0,0-0.003,0-0.005,0c-1.505,0.314-2.827,1.432-3.314,2.969l0,0v0.002c0,0.004-0.001,0.006-0.001,0.006c-0.14,0.422-0.205,0.855-0.205,1.285c0,0.943,0.312,1.859,0.848,2.615c0.532,0.742,1.285,1.326,2.189,1.598C37.365,57.951,37.369,57.953,37.375,57.955z M84.598,46.971v0.006c0.01,0.154,0.014,0.307,0.014,0.459c0,1.699-0.546,3.334-1.455,4.721c-0.85,1.299-2.021,2.385-3.37,3.121c0.087,0.678,0.137,1.359,0.137,2.039c-0.001,3.66-1.264,7.26-3.462,10.145l0,0h-0.004c-4.064,5.406-10.305,8.594-16.605,10.203H59.85l-0.004,0.004c-3.361,0.814-6.826,1.232-10.29,1.232c-5.164,0-10.324-0.932-15.138-2.863l-0.001-0.004h-0.005c-4.992-2.057-9.748-5.328-12.665-10.119c-1.569-2.559-2.431-5.557-2.431-8.57c0-0.682,0.046-1.363,0.137-2.041c-1.314-0.738-2.452-1.787-3.296-3.041c-0.902-1.346-1.474-2.92-1.546-4.588v-0.006v-0.006v-0.014c0.001-2.332,1.015-4.543,2.59-6.172c1.576-1.629,3.727-2.695,6.034-2.695c0.032,0,0.063,0,0.096,0c0.241-0.016,0.486-0.025,0.73-0.025c1.159,0,2.321,0.188,3.424,0.611l0.006,0.004l0.006,0.002c0.941,0.396,1.877,0.875,2.711,1.537c0.271-0.141,0.565-0.301,0.896-0.428c5.056-2.992,10.932-4.148,16.659-4.48c0.05-2.838,0.398-5.807,1.782-8.406c1.153-2.158,3.152-3.84,5.535-4.422l0.009-0.006h0.013c0.906-0.176,1.82-0.258,2.729-0.258c2.42,0,4.812,0.574,7.049,1.467c0.99-1.494,2.405-2.66,4.064-3.314l0.015-0.01l0.015-0.006c0.975-0.303,2.003-0.48,3.035-0.48c1.09,0,2.187,0.199,3.215,0.658v-0.004c0.002,0.004,0.004,0.004,0.004,0.004c0.007,0.002,0.014,0.008,0.02,0.008c1.475,0.568,2.722,1.617,3.605,2.92c0.887,1.311,1.407,2.879,1.407,4.492c0,0.297-0.017,0.596-0.052,0.895l-0.003,0.006c0,0.004,0,0.01-0.001,0.014c-0.174,2.086-1.229,3.914-2.725,5.219c-1.504,1.311-3.451,2.102-5.45,2.102c-0.321,0-0.644-0.02-0.966-0.061c-1.982-0.152-3.832-1.111-5.189-2.539c-1.363-1.424-2.24-3.328-2.24-5.383c0-0.1,0.008-0.201,0.012-0.301c-1.861-0.828-3.838-1.516-5.802-1.514c-0.284,0-0.567,0.016-0.853,0.043h-0.002c-1.471,0.143-2.838,1.07-3.5,2.402v0.002v0.004c-1.006,1.959-1.207,4.248-1.237,6.52c5.638,0.369,11.308,1.721,16.282,4.58h0.008l0.07,0.041c0.095,0.057,0.27,0.152,0.428,0.236c0.342-0.277,0.703-0.563,1.115-0.809c1.508-1.004,3.295-1.502,5.08-1.502c0.793,0,1.588,0.1,2.358,0.297h0.003l0.031,0.01c0.012,0.002,0.021,0.006,0.029,0.006v0.002c1.82,0.461,3.467,1.508,4.707,2.916c1.237,1.412,2.071,3.199,2.234,5.137V46.971z M67.992,28.521c0,0.076,0.002,0.156,0.009,0.234v0.004v0.01c0.036,0.979,0.499,1.891,1.202,2.564c0.706,0.674,1.643,1.09,2.594,1.094h0.013h0.013c0.068,0.006,0.138,0.006,0.205,0.006c0.959,0.002,1.912-0.412,2.627-1.084c0.717-0.674,1.189-1.59,1.229-2.578l0.001-0.006V28.76c0.006-0.074,0.009-0.146,0.009-0.223c0-1.018-0.475-1.986-1.22-2.703c-0.741-0.719-1.739-1.162-2.724-1.16c-0.317,0-0.632,0.043-0.94,0.139L71,24.814l-0.01,0.004c-0.811,0.211-1.57,0.711-2.117,1.375C68.324,26.855,67.992,27.672,67.992,28.521z M26.379,43.633c-0.753-0.352-1.533-0.602-2.303-0.598c-0.129,0-0.26,0.008-0.389,0.021h-0.018l-0.019,0.002c-1.106,0.031-2.222,0.514-3.06,1.287c-0.838,0.77-1.393,1.809-1.436,2.955v0.012l-0.001,0.008c-0.007,0.094-0.01,0.186-0.01,0.273c0,0.707,0.217,1.391,0.584,2.014c0.272,0.463,0.629,0.885,1.033,1.252C22.054,48.029,24.073,45.629,26.379,43.633z M75.488,57.475c0-2.521-0.91-5.057-2.383-7.096c-2.938-4.088-7.496-6.754-12.236-8.24l-0.033-0.012c-0.91-0.279-1.83-0.525-2.756-0.738c-2.771-0.631-5.611-0.945-8.45-0.945c-3.811,0-7.621,0.564-11.27,1.689c-4.74,1.504-9.312,4.152-12.244,8.254v0.002c-1.486,2.049-2.356,4.592-2.356,7.123c0,0.932,0.117,1.863,0.363,2.771h0.003c0.533,2.035,1.577,3.852,2.927,5.436c1.351,1.586,3.006,2.939,4.749,4.043c0.386,0.238,0.773,0.465,1.17,0.689c5.06,2.824,10.887,4.061,16.672,4.061c0.979,0,1.963-0.033,2.935-0.104c5.825-0.48,11.676-2.201,16.405-5.715l0.001-0.004c1.505-1.111,2.899-2.459,4.003-3.99c1.107-1.533,1.918-3.246,2.279-5.107v-0.006l0.001-0.002C75.418,58.889,75.488,58.184,75.488,57.475z M80.087,47.436c-0.001-0.611-0.142-1.221-0.448-1.789l-0.008-0.008l-0.002-0.008c-0.41-0.846-1.055-1.484-1.831-1.918c-0.776-0.438-1.685-0.66-2.597-0.66c-0.822,0-1.643,0.186-2.371,0.551c2.314,2.008,4.344,4.422,5.656,7.264c0.422-0.367,0.781-0.816,1.051-1.316C79.889,48.896,80.087,48.162,80.087,47.436z" />
                    </svg>
                    Reddit
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-7">
        <p>I also tend to hang out, and contribute, here.</p>
    </div>
</div>
<div class="row" id="fun">
    <h2 class="col-md-offset-1">...for fun</h2>
</div>
<div class="row">
    <div class="col-md-3 col-md-offset-1 code svg-logos">
        <ul>
            <li>
                <!-- GitHub -->
                <a href="https://github.com/RobThree">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" enable-background="new 0 0 100 100">
                        <rect fill="#010101" width="100" height="100" />
                        <path fill="#ffffff" d="M67.357,22.9c0.91,2.066,1.499,5.498,0.619,8.012c3.598,3.07,4.834,10.537,3.098,16.639c5.127,0.393,11.234-0.188,15.176,1.387c-3.686-0.475-8.718-1.404-13.471-1.08c-0.901,0.061-2.235-0.035-2.17,1.232c5.502,0.432,10.97,0.902,15.487,2.313c-4.479-0.732-9.92-1.846-15.487-2.002c-2.3,4.539-6.929,6.77-13.317,7.238c0.687,1.494,2.002,2.064,2.324,4.469c0.479,3.59-0.751,8.852,0.461,11.246c0.582,1.146,1.53,1.176,2.17,2.158c-1.564,1.852-5.444-0.209-5.887-2.158c-0.757-3.342,1.153-8.52-0.929-10.785c0.147,3.645-0.861,8.762,0.155,12.016c0.401,1.281,1.558,1.775,1.24,2.93c-7.273,0.738-4.235-9.414-5.423-15.406c-1.097,0.076-0.616,1.643-0.619,2.311c-0.032,5.852,1.197,13.879-5.11,13.096c-0.185-1.23,0.846-1.648,1.238-2.771c1.151-3.293-0.216-8.199,0.313-12.174c-2.408,1.814,0.252,8.152-1.24,11.4c-0.86,1.869-3.629,2.684-5.73,1.848c0.273-1.391,1.712-1.166,2.321-2.463c0.852-1.809,0.006-4.414,0.311-7.088c-4.457,0.891-7.913-0.129-9.604-2.928c-0.757-1.256-0.945-2.736-1.859-3.85c-0.91-1.113-2.364-1.264-2.786-2.771c5.519-1.328,5.73,5.678,10.687,5.852c1.519,0.055,2.309-0.439,3.716-0.77c0.393-1.766,1.236-3.084,2.478-4.008c-6.166-0.844-11.26-2.764-13.628-7.391c-5.607,0.275-10.737,1.023-15.489,2.154c4.313-1.566,9.632-2.127,15.333-2.311c-0.335-2.02-3.281-1.465-5.11-1.387c-3.398,0.15-7.676,0.572-10.377,1.08c3.917-1.396,9.41-1.223,14.714-1.232c-1.623-5.088-1.061-13.168,2.478-16.178c-1.002-2.525-0.691-6.66,0.62-8.627c3.95,0.176,6.346,1.898,8.828,3.543c3.078-0.875,6.313-1.311,10.53-1.078c1.774,0.098,3.619,0.895,4.954,0.77c1.312-0.123,2.756-1.594,4.027-2.156C64.06,23.248,65.461,22.969,67.357,22.9z" />
                    </svg>
                    GitHub
                </a> (<a href="https://gist.github.com/RobThree">gists</a>)
            </li>
            <li>
                <!-- GitLab -->
                <a href="https://gitlab.com/RobIII">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" enable-background="new 0 0 100 100">
                        <rect fill="#6b4fbb" width="100" height="100" />
                        <path fill="#faa327" d="M89.85,55.29l-4.482-13.774v0.001H14.63L10.149,55.29c-0.407,1.257,0.038,2.631,1.104,3.411l3.377,2.455l35.329,25.677h0.014h0.034l35.359-25.677v-0.001l3.381-2.455C89.813,57.923,90.26,56.545,89.85,55.29z" />
                        <polygon fill="#f36e2b" points="64.739,41.5 35.264,41.5 14.648,41.5 35.264,67.938 50,86.833 50.008,86.833 64.739,67.954 85.382,41.5 " />
                        <path fill="#e14429" d="M76.526,14.214c-0.154-0.457-0.513-0.815-0.969-0.967c-0.802-0.27-1.672,0.164-1.939,0.967L64.738,41.5H35.276l-8.881-27.287c-0.268-0.803-1.137-1.236-1.94-0.967c-0.457,0.152-0.814,0.51-0.968,0.967l-8.852,27.303H35.28l14.727,45.316l14.727-45.316h20.643L76.526,14.214z" />
                    </svg>
                    GitLab
                </a>
            </li>
            <li>
                <!-- NuGet -->
                <a href="https://www.nuget.org/profiles/RobIII/">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" enable-background="new 0 0 100 100">
                        <rect fill="#306eb7" width="100" height="100" />
                        <circle fill="#ffffff" cx="19.53" cy="20.567" r="7.337" />
                        <path fill="#ffffff" d="M66.905,21.258h-22.43c-12.103,0-21.949,9.846-21.949,21.949v22.43c0,12.104,9.846,21.949,21.949,21.949h22.43c12.103,0,21.949-9.846,21.949-21.949v-22.43C88.854,31.104,79.008,21.258,66.905,21.258z M40.14,48.867c-4.284,0-7.756-3.473-7.756-7.756s3.473-7.756,7.756-7.756s7.756,3.473,7.756,7.756S44.424,48.867,40.14,48.867z M64.845,79.053c-7.409,0-13.416-6.007-13.416-13.416c0-7.408,6.007-13.415,13.416-13.415c7.408,0,13.415,6.007,13.415,13.415C78.26,73.046,72.253,79.053,64.845,79.053z" />
                    </svg>
                    NuGet
                </a>
            </li>
            <li>
                <!-- Codeplex -->
                <a href="https://www.codeplex.com/site/users/view/RobIII">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" enable-background="new 0 0 100 100">
                        <rect fill="#7c4f9c" width="100" height="100" />
                        <polygon fill="#ffffff" points="55.363,21.565 73.854,40.518 73.854,59.481 55.363,78.436 87.801,78.436 87.801,59.481 87.801,40.518 87.801,21.565 " />
                        <path fill="#ffffff" d="M40.646,40.518h9.421V21.565h-9.366c-15.704,0-28.435,12.73-28.435,28.435s12.73,28.436,28.435,28.436h9.366V59.478h-9.421c-5.235,0-9.479-4.244-9.479-9.479S35.411,40.518,40.646,40.518z" />
                    </svg>

                    CodePlex
                </a>
            </li>
            <li>
                <!-- Visual Studio -->
                <a href="https://devcorner.visualstudio.com">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" enable-background="new 0 0 100 100">
                        <rect fill="#68217A" width="100" height="100" />
                        <path fill="#FFFFFF" d="M68.661,13.142l18.166,7.334v58.839L68.49,86.651L39.319,57.647L20.818,71.983l-7.334-3.664V31.476l7.334-3.499l18.501,14.501L68.661,13.142z M20.818,38.977v22.338l11.003-11.333L20.818,38.977z M49.489,49.981l19.004,15.003V34.977L49.489,49.981z" />
                    </svg>
                    VisualStudio
                </a>
            </li>
            <li>
                <!-- Bitbucket -->
                <a href="https://bitbucket.org/RobIII">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" enable-background="new 0 0 100 100">
                        <rect fill="#3c7fc2" width="100" height="100" />
                        <ellipse fill="none" cx="49.757" cy="21.951" rx="20.969" ry="4.467" />
                        <path fill="none" d="M49.765,38.244c-5.744,0-10.398,4.654-10.398,10.396c0,5.743,4.654,10.397,10.398,10.397c5.743,0,10.396-4.654,10.396-10.397C60.161,42.898,55.506,38.244,49.765,38.244z M49.758,53.844c-2.879,0-5.213-2.335-5.213-5.215c0-2.878,2.334-5.212,5.213-5.212c2.878,0,5.214,2.334,5.214,5.212C54.973,51.509,52.637,53.844,49.758,53.844z" />
                        <path fill="#ffffff" d="M72.748,65.519c-0.143,0.067-0.264,0.165-0.4,0.251c-0.811,0.513-1.603,1.075-2.445,1.541C65.664,69.64,61.109,71,56.338,71.669c-3.602,0.508-7.204,0.59-10.83,0.26c-3.141-0.279-6.228-0.852-9.236-1.808c-3.279-1.032-6.403-2.396-9.203-4.426c-0.079-0.053-0.165-0.103-0.251-0.152c-0.843-0.412-1.682,0.069-1.727,1.009c-0.003,0.198,0.007,0.392,0.045,0.583c0.729,3.823,1.477,7.646,2.182,11.472c0.241,1.315,0.842,2.396,1.768,3.33c0.739,0.742,1.58,1.354,2.486,1.886c1.726,1.009,3.572,1.719,5.486,2.272c4.132,1.19,8.364,1.647,14.113,1.663c1.889,0.018,5.214-0.288,8.5-0.974c2.545-0.524,5.023-1.271,7.356-2.459c1.268-0.645,2.451-1.411,3.456-2.441c0.904-0.922,1.487-1.997,1.724-3.282c0.706-3.831,1.448-7.65,2.173-11.476c0.04-0.209,0.073-0.436,0.049-0.646C74.348,65.604,73.554,65.156,72.748,65.519z" />
                        <path fill="#ffffff" d="M81.634,20.583c-0.483-0.68-1.074-1.253-1.737-1.76c-1.453-1.134-3.095-1.941-4.792-2.627c-3.618-1.458-7.386-2.316-11.218-2.931c-4.67-0.749-9.376-1.046-14.324-1.075c-4.422,0.037-9.056,0.316-13.655,1.034c-3.264,0.513-6.489,1.207-9.625,2.269c-2.074,0.706-4.079,1.547-5.907,2.775c-0.872,0.583-1.672,1.242-2.329,2.072c-0.82,1.046-1.172,2.208-0.958,3.528c0.412,2.604,0.795,5.21,1.224,7.803c0.627,3.843,1.28,7.684,1.933,11.515c0.731,4.261,1.479,8.521,2.19,12.787c0.167,0.99,0.587,1.833,1.257,2.552c0.425,0.464,0.88,0.901,1.366,1.298c1.741,1.405,3.728,2.408,5.803,3.228c4.963,1.981,10.158,2.876,15.466,3.168c3.856,0.213,7.704,0.077,11.539-0.444c3.268-0.441,6.464-1.144,9.567-2.263c2.301-0.831,4.509-1.851,6.498-3.298c0.848-0.618,1.63-1.303,2.252-2.151c0.437-0.566,0.729-1.201,0.851-1.915c0.945-5.587,1.928-11.162,2.851-16.747c0.864-5.182,1.673-10.367,2.524-15.548C82.616,22.655,82.342,21.575,81.634,20.583z M49.765,59.038c-5.744,0-10.398-4.654-10.398-10.397c0-5.743,4.654-10.396,10.398-10.396c5.741,0,10.396,4.654,10.396,10.396C60.161,54.384,55.508,59.038,49.765,59.038zM49.757,26.418c-11.581,0-20.969-2-20.969-4.467c0-2.467,9.388-4.466,20.969-4.466c11.579,0,20.967,1.999,20.967,4.466C70.725,24.418,61.336,26.418,49.757,26.418z" />
                        <circle fill="#ffffff" cx="49.758" cy="48.63" r="5.214" />
                    </svg>
                    Bitbucket
                </a>
            </li>
            @*
        <li>
            <!-- GitLab -->
            <a href="https://gitlab.com/u/RobIII">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" enable-background="new 0 0 100 100">
                    <rect fill="#E24329" width="100" height="100" />
                    <path fill="#FFFFFF" d="M88.586,59.726c0.626-0.643,0.924-1.538,0.81-2.426c-0.012-0.081-0.024-0.159-0.042-0.238c-0.021-0.1-0.045-0.198-0.077-0.296l-4.315-13.282l-8.553-26.323c-0.439-1.354-2.355-1.354-2.795,0L65.06,43.483H36.659l-8.553-26.323c-0.44-1.354-2.356-1.354-2.796,0l-8.553,26.323l-1.059,3.258l-3.257,10.024c-0.394,1.211,0.037,2.538,1.068,3.287l37.35,27.137l0-0.001v0.001v-0.001l37.349-27.136c0.126-0.092,0.241-0.191,0.351-0.3c0.002-0.001,0.005-0.004,0.008-0.006C88.573,59.738,88.579,59.732,88.586,59.726z" />
                </svg>
                Gitlab
            </a>
        </li>
            *@
            <li>
                <!-- Open Hub -->
                <a href="https://www.openhub.net/accounts/RobIII">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" enable-background="new 0 0 100 100">
                        <rect fill="#0782C6" width="100" height="100" />
                        <path fill="#ffffff" d="M30.773,31.28c10.413,0,18.528,7.879,18.528,18.067c0,10.438-8.115,18.569-18.528,18.569c-10.412,0-18.477-8.131-18.477-18.569C12.296,39.159,20.361,31.28,30.773,31.28z M30.773,63.198c7.299,0,13.22-6.022,13.22-13.852c0-7.578-5.921-13.399-13.22-13.399s-13.168,5.821-13.168,13.399C17.604,57.176,23.474,63.198,30.773,63.198z" />
                        <path fill="#ffffff" d="M56.289,37.302c0-0.753-0.408-1.104-1.123-1.104h-2.194v-4.316h5.154c2.297,0,3.267,0.954,3.267,3.212V47.49h18.324V35.094c0-2.258,0.97-3.212,3.267-3.212h5.155v4.316h-2.195c-0.715,0-1.123,0.351-1.123,1.104v30.011h-5.104V51.756H61.393v15.558h-5.104V37.302z" />
                    </svg>
                    Open Hub
                </a>
            </li>
            <li>
                <!-- CoderWall -->
                <a href="https://coderwall.com/robiii">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" enable-background="new 0 0 100 100">
                        <path fill="#408ECC" d="M0,0v100h100V0H0z M21.462,33.877c-5.201,0-9.417-4.216-9.417-9.417s4.216-9.417,9.417-9.417	s9.417,4.216,9.417,9.417S26.663,33.877,21.462,33.877z M50.001,59.416c-5.2,0-9.417-4.215-9.417-9.416	c0-5.202,4.217-9.417,9.417-9.417s9.416,4.214,9.416,9.417C59.417,55.201,55.201,59.416,50.001,59.416z M50.001,33.877	c-5.2,0-9.417-4.216-9.417-9.417s4.217-9.417,9.417-9.417s9.416,4.216,9.416,9.417S55.201,33.877,50.001,33.877z M78.539,85.129	c-5.201,0-9.417-4.215-9.417-9.416c0-5.202,4.216-9.417,9.417-9.417s9.416,4.215,9.416,9.417	C87.955,80.914,83.74,85.129,78.539,85.129z M78.539,59.502c-5.201,0-9.417-4.215-9.417-9.416c0-5.2,4.216-9.417,9.417-9.417	s9.416,4.216,9.416,9.417C87.955,55.287,83.74,59.502,78.539,59.502z M78.539,33.877c-5.201,0-9.417-4.216-9.417-9.417	s4.216-9.417,9.417-9.417s9.416,4.216,9.416,9.417S83.74,33.877,78.539,33.877z" />
                    </svg>
                    Coderwall
                </a>
            </li>
            @*
        <li>
            <!-- Gitorious -->
            <a href="https://gitorious.org/~robiii">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" enable-background="new 0 0 100 100">
                    <path fill="#222222" d="M0,0v100h100V0H0z M10.997,27.868c0-2.209,1.791-4,4-4h10.219v-10.22c0-2.209,1.791-4,4-4s4,1.791,4,4v10.22	h10.219c2.209,0,4,1.791,4,4s-1.791,4-4,4H33.216v10.219c0,2.209-1.791,4-4,4s-4-1.791-4-4V31.868H14.997	C12.788,31.868,10.997,30.077,10.997,27.868z M67.676,48.106c2.209,0,4,1.791,4,4s-1.791,4-4,4h-28.44c-2.209,0-4-1.791-4-4	s1.791-4,4-4H67.676z M81.693,71.616c0,4.813-3.916,8.729-8.729,8.729H33.946c-4.813,0-8.729-3.916-8.729-8.729v-19.51	c0-2.209,1.791-4,4-4s4,1.791,4,4v19.51c0,0.401,0.327,0.729,0.729,0.729h39.018c0.402,0,0.729-0.327,0.729-0.729V32.598	c0-0.402-0.327-0.729-0.729-0.729H53.455c-2.209,0-4-1.791-4-4s1.791-4,4-4h19.509c4.813,0,8.729,3.916,8.729,8.729V71.616z" />
                </svg>
                Gitorious
            </a>
        </li>
            *@
        </ul>
    </div>
    <div class="col-md-7">
        <p>I have some of my own open source projects, and I try to contribute whenever I can to other projects.</p>
    </div>
</div>
<div class="row" id="portfolio">
    <h2 class="col-md-offset-1">“...So, where's your portfolio?”</h2>
    <div class="col-md-10 col-md-offset-1">
        <p>Projects come and go. Projects are completed, go 'live' and disappear in time. Some get redesigned, updated to reflect the latest fads. Some projects are 'for internal use only', 'personal temporary projects' or simply not publicly available. I don't update this site often so links to any projects tend to die out. <span class="fb"><input type="checkbox" checked="checked" onclick="return false" /> It's complicated</span> But if you insist on a portfolio or links to current project then feel free to @Html.ActionLink("contact me", "Index", "Static", new { Page = "contact" }, null).</p>
        <p>Want some some name-dropping for references? I have, at one time or another, successfully completed projects for-, or worked on or with: <a href="https://www.daf.eu/">DAF</a>, <a href="https://www.canon.nl/">Canon</a>, <a href="https://www.bdo.nl/">BDO</a>, <a href="https://www.vhmn.nl/">vHMN</a>, <a href="https://hciglobal.org/">HCI</a>, <a href="https://www.replacedirect.nl/">ReplaceDirect</a>, <a href="https://www.yanec.com/">Yanec</a>, <a href="https://www.twindis.com/">Twindis</a>, <a href="https://www.mymicrogroup.com/">MyMicro Group</a>, <a href="https://www.apsitdiensten.nl/">APS</a>, <a href="https://www.ism.nl/">ISM</a>, <a href="https://absvanhoutert.nl">van Houtert Autoschade</a>, <a href="https://ecor.nl/">Ecor</a>, <a href="https://www.boshairstyle.nl/">Bo's Hairstyle</a>, <a href="https://www.jan-jansen.nl/">Jan Jansen Makelaardij</a>, <a href="https://www.purplegroup.nl/">Purple Group</a>, <a href="https://combat.cc/">Combat</a> and the list goes on...</p>
    </div>
</div>
