<div class="row">
    <h2 class="col-md-offset-1">Recruiters - Wall of shame</h2>
    <div class="col-md-10 col-md-offset-1">
        <p>The following people (or: recruiters) seem to be having problems reading someone's profile on <a href="https://www.linkedin.com/">LinkedIn</a> which clearly states <strong>NO RECRUITMENT</strong>. These people sent invites (from &quot;Let's be friends&quot; to bogus &quot;We've done business&quot;) despite my 'NO RECRUITMENT' message on <a href="http://linkedin.com/in/robiii/">my profile</a> and, recently, even adding <a href="~/img/recruiters.png">an image</a> that <a href="~/img/profileimage.png">can't be missed</a>. Since this annoyance is becoming more and more prevalent I decided to put up this 'Wall of shame' page.</p>
        <ul>
            <li><a href="https://www.linkedin.com/pub/tessa-werter/9a/3a3/636">Tessa Werter</a> - <a href="http://www.searchlite.nl/" rel="nofollow">SearchLite</a></li>
            <li><a href="https://sk.linkedin.com/in/vhamran">Viktor Hamran</a> - <a href="" rel="nofollow">XXX</a></li>
            <li><a href="https://nl.linkedin.com/pub/steven-moerman/91/9aa/947">Steven Moerman</a> - <a href="http://www.bonque.nl/" rel="nofollow">BONQUE.nl</a></li>
            <li>
                <a href="https://www.linkedin.com/pub/pepijn-beijen/76/9b9/991">Pepijn Beijen</a> - <a href="http://www.u-choose.nl/" rel="nofollow">UChoose Recruitment</a>
                <blockquote>
                    <p>Het bedrijf heeft mij gevraagd om jou te benaderen, dan weerhoudt dat bericht op jou linkedin mij er niet van om jou te contacten.</p>
                </blockquote>
            </li>
            <li>Sam Muthyala - New Age Consultants Limited</li>
            <li><a href="https://nl.linkedin.com/pub/rudolf-van-ee/64/9a6/40b">Rudolf van Ee</a> - <a href="http://www.darwinrecruitment.nl/" rel="nofollow">Darwin Recruitment</a></li>
            <li><a href="https://nl.linkedin.com/pub/helen-burger/54/831/103">Helen Burger</a> - <a href="http://magno-it.nl/" rel="nofollow">Magno IT</a></li>
            <li>
                <a href="https://nl.linkedin.com/pub/patrick-klein/53/a3/814">Patrick Klein</a> - <a href="http://magno-it.nl/" rel="nofollow">Magno IT</a>
                <blockquote>
                    <p>Ik heb net nogmaals op je profiel gekeken en heb na lang naar beneden scrollen inderdaad het 'No Recruitment' bericht gevonden, iets wat mij is ontgaan, omdat ik alleen geïnteresseerd ben in je kennis en ervaring.</p>
                    <p>&hellip;</p>
                    <p>Voor u misschien een tip om het NO RECRUITMENT iets duidelijker op uw profiel neer te zetten, in plaats van helemaal onderaan waar, ik ben bang, weinig Recruiters naartoe zullen scrollen.</p>
                </blockquote>
            </li>
            <li><a href="https://nl.linkedin.com/in/sgrove">Stijn Grove</a> - <a href="http://www.mcxess.com/" rel="nofollow">MCXess</a></li>
            <li><a href="https://nl.linkedin.com/in/leendertklaasen">Leendert Klaasen</a> - <a href="http://www.qualitrolcorp.com/" rel="nofollow">Qualitrol Generation (Iris Power & PDTech)</a></li>
        </ul>
    </div>
</div>