@primarycolor: #ed053e;
@subtleshadow: 0 1px 2px rgba(0,0,0,0.8);

@sans: 'Open Sans', sans-serif;
@serif: 'Noto Serif', serif;

html {
    overflow-y: scroll;
}

body {
    font-family: @serif;
    font-size: 2.0rem;
    line-height: 1.6em;
}

#user-image {
    background-image: url('//www.gravatar.com/avatar/9814828bd8d94a47c12461f364baaa82?s=440');
    margin-top: 25px;
    float: right;
    width: 110px;
    height: 110px;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    border-radius: 100%;
    border: #fff solid 5px;
    /* Alternative border */
    /*
    border: rgba(2, 239, 39, .4) solid 3px;
    -moz-background-clip: padding;     
    -webkit-background-clip: padding;  
    background-clip: padding-box;      
    */
}

.site-head {
    padding-top: 250px;
    color: #fff;
    height: 550px;
    background: url('/img/back.jpg');
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: bottom center;
    margin-bottom: 40px;
    background-attachment: fixed;
}

.site-title {
    font-size: 5rem;
    letter-spacing: -1px;
    font-weight: bold;
    font-family: @sans;
    -webkit-text-shadow: @subtleshadow;
    text-shadow: @subtleshadow;
}

.site-description {
    margin: 0;
    font-size: 1.8rem;
    line-height: 1.5em;
    font-weight: 300;
    letter-spacing: 0;
    -webkit-text-shadow: @subtleshadow;
    text-shadow: @subtleshadow;
}

.time {
    margin-top: 20px;
    color: #999;
}

    .time .badge {
        margin-right: 10px;
    }

    .time span {
        white-space: nowrap;
    }

h3 {
    font-family: @sans;
    font-weight: bold;
}

    h3 a,
    h3 a:active,
    h3 a:visited,
    h3 a:hover,
    h3 a:focus {
        color: inherit;
    }

#nav {
    margin-bottom: 40px;
}

footer {
    margin-top: 80px;
    font-size: .6em;
}

a,
a:active,
a:visited {
    color: @primarycolor;
}

    a:hover,
    a:focus {
        color: @primarycolor;
        text-decoration: underline;
    }

::-moz-selection {
    background: @primarycolor;
    color: #fff;
    -webkit-text-shadow: none;
    text-shadow: none;
}

::selection {
    background: @primarycolor;
    -webkit-text-shadow: none;
    text-shadow: none;
    color: #fff;
}
